@media screen and (max-width: 720px) {
  .sc2, .sc3, .sc4, .sc5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
