@import 'utilities';

body{
    background: #000;
    
}
// top navbar
.main-nav .container{
    
    padding-top: 1rem;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 13rem;
        height: 3.5rem;
    }
    a{
        text-decoration: none;
        padding: 0.5rem 1.2rem;
        background-color: $redcolor;
        color: #fff;
        border-radius: 0.3rem;
    }

    select{
        background: #000;
        color: #fff;
        font-size: 0.8rem;
        text-align: center;
        height: 2.2rem;
        width: 7.2rem;
        font-family:  Arial, FontAwesome, Helvetica, sans-serif ;
        text-align: start;
        content: '\f0ac';
    
        option{
            font-size: 0.8rem;
            font-family:  Arial, FontAwesome, Helvetica, sans-serif ;
            content: '\f0ac';
            
        }
        border: #fff solid 0.05rem;
        border-radius: 0.3rem;
       margin-right: 1.2rem;
    }
}
// for the background and darken it
.wholefirstsc{
height: 100vh;
    background: url(../img/headbanner.jpg) center center/ cover;
  position: relative;

// box-shadow: 50px 0 20px 50px #000 inset;
box-shadow: 0 90px 40px rgba(0,0,0,0.75 ) inset,
0 -90px 40px rgba(0,0,0,0.75 ) inset;




  &::before{

      content: '';

    background-color: rgba(0,0,0,0.5);
      position: absolute;
      top: 0;
       left: 0;
       right: 0;
      bottom: 0;


  }


}
.scmain {
    // position: relative;
width: 100%;
height: 100%;
display: flex;
align-items: center;
flex-direction: column;


.centertexts{

    margin: auto 0;
    transform: translateY(-20%);
    text-align: center;
        h1, h4, p{
            color: #fff;
        }
        h1{
            font-size: 3rem;
        }
        h4{
            margin: 1rem 0 1.2rem 0;
            font-size: 1.6rem;
            font-weight: lighter;

        }
        p{
            font-size: 1.2rem;
        }
        .form{
            display: flex;
            margin-top: 1rem;
            input{
                width: 85%;
                height: 58px;
                padding-left: 0.4rem;
                font-size: 1rem;
            }
            
           a{
               text-decoration: none;
               font-size: 1.3rem;
               background: $redcolor;
               color: #fff;
               height: 58px;
               width: 25%;
               margin-left: -50px;
               padding: 0 5px;
               display: flex;
               align-items: center;
            //    i{
            //     display: flex;
            //     align-items: center;
            //    }

               &:hover{
                   background: lighten($redcolor, 4%);
               }
              
           }
        }
        
    }
  

}
.sc2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sc2texts{
        h1 , p{
            color: #fff;
        }
        h1{
            font-size: 3.2rem;
            margin-bottom: 1rem;
        }
        p{
            font-size: 1.7rem;
        }
    }
  
}

.sc3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sc3texts{
        h1,p{
            color: #fff;
        }
        h1{
            font-size: 3.2rem;
            margin-bottom: 1rem;
        }
        p{
            font-size: 1.5rem;
        }

    }
}
.sc4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1, p{
        color: #fff;
    }
    h1{
        font-size: 3rem;
        margin-left: 1rem;
    }
    p{
        font-size: 1.4rem;
    }
}
.sc5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1, p{
        color: #fff;
        text-align: center;
    }
    h1{
        font-size: 3rem;
        margin-left: 1rem;
    }
    p{
        font-size: 1.4rem;
    }
}

.sc6{
    display: flex;
    align-items: center;
    flex-direction: column;
    h1{
        color: #fff;
        font-size: 4rem;
        
    }
}
.faq{

    
}